# Privy
NEXT_PUBLIC_PRIVY_APP_ID=your_privy_app_id

# Contracts
NEXT_PUBLIC_FACTORY_ADDRESS=0x5cF11A860d220284f0Ab4d98d61cAB737FF5518D
NEXT_PUBLIC_USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e  # Base Sepolia USDC
NEXT_PUBLIC_WETH_ADDRESS=0x4200000000000000000000000000000000000006  # Base Sepolia WETH

# Network
NEXT_PUBLIC_CHAIN_ID=84532  # Base Sepolia
NEXT_PUBLIC_RPC_URL=https://sepolia.base.org

# Frames
NEXT_PUBLIC_APP_URL=http://localhost:3000
